.preview{
  width: 90vw;
  margin: 0 auto;
}

.preview-info{
    background-color: #fff;
    padding: 10px 15px;
    margin: 0px auto;
    height: calc(90vh - 50px);
    width: 100%;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
}

.church__name{
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-transform: uppercase;
    justify-self: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray ;
}
.title p{
    text-transform: uppercase;
    color: #818181;
}

.user-info{
    margin: 20px 0;
}
.user-info h3{
    margin-bottom: 5px;
}

/* CONTENT TO DISPLAY */
.content{
    margin: 0 auto;
    max-width: 45vw;
    border-bottom: 2px solid gray ;
    padding-bottom: 2rem;
}
.content__info{
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.content__info  p:first-child{
    color: #b3b3b3;
    padding: 5px 10px;
    text-transform: uppercase;
}
.border{
    border: 1.5px solid #eee;
    width: 80%;
    padding: 5px 10px;
    margin-right: -1.8rem;
    
}

/* PRINT BUTTON */
.print-save-btn{
    padding: 12px 20px;
    color: #363636;
   font-size: 1.2rem;
    background-color: #FFC145;
    border: none;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

.print-save-btn:hover{
     box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    /* background-color: #f6bb44; */
    opacity: 0.8;
}
/* PAYMENT MODE */
.payment__mode{
    margin: 0 auto;
    max-width: 30vw;
    margin-top: 2rem;
}
.payment__mode h4{
    text-align: center;
    background: #EAE;
    margin: 1rem auto;
    padding: 5px 12px;
}
.payment__mode p{
    text-align: center;
    margin: 0 auto;
    /* width: 30ch; */
}

/* RECEIPT */
.receipt{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.receipt-narration{
    text-transform: uppercase;
    background-color: #ddd;
    color: #111111;
    padding: 5px 12px;
    font-weight: bold;
}
.invoice{
    display: flex;
    align-items: center;
    /* gap: 2px; */
}

.invoice .number{
    font-size: 14px;
}
